body {
  background-image: url('https://media.giphy.com/media/3FeAMDf9kPmSIFCmoH/giphy.gif');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}